/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */



 /**
  * Base stuff
  */
 $base-font-size:    16px;
 $base-line-height:  21px;

 /**
  * Base font-family.
  */

 // Arial, "Helvetica Neue", Helvetica, sans-serif - p, t
 // "Helvetica Neue", Arial, Helvetica, sans-serif - p
 // Helvetica, "Helvetica Neue", Arial, sans-serif - t
 // "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
 // "Trebuchet MS", Tahoma, Arial, sans-serif - t
// 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif

 $base-font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;

 /**
  * Default colour for objects’ borders etc.
  */
 $base-ui-color:     #bdc3c7;

 /**
  * Font-sizes (in pixels). Refer to relevant sections for their implementations.
  */
 $giga-size:         96px;
 $mega-size:         72px;
 $kilo-size:         48px;

 $h1-size:           36px; // .alpha
 $h2-size:           30px; // .beta
 $h3-size:           24px; // .gamma
 $h4-size:           20px; // .delta
 $h5-size:           16px; // .epsilon
 $h6-size:           14px; // .zeta

 $milli-size:        12px;
 $micro-size:        10px;



/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:       #4a8ec2;
$brand-face:        Dax, Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px;

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       true;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  true;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         true;
$use-greybox:       true;



/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */







/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */


//import the compass utilities that you need
//@import "compass/typography/links/link-colors";

// Images path 
// usage: 
// background: url("#{$img_path_bg}/brand.png");
// background: inline_image("#{$img_path_bg}/brand.png");
$img-path: unquote("../img");
$img-path-bg: $img_path + unquote("/bg");
$img-path-ico: $img_path + unquote("/ico");
$img-path-plugins: $img_path + unquote("/plugins");

// body 
$body-bg: #f4f4f4;
$body-font-color: #444;
$body-font-weight: normal;
$body-font-style: normal;

// container
$container-max-width:1000px;
$container__narrow-max-width: 50em;

// page
$page-background-color :#f4f4f4;


// header
$header-font-family:Georgia, Times, "Times New Roman", serif;
$header-font-weight : 300;
$header-font-style: normal;
$header-font-color: #222;

// colors
$primary-color: #3498db;//; // blue
$secondary-color: #d35400; // orange;
$white: #fff;
$grey:  $base-ui-color;
$grey-light: #ecf0f1;
$grey-dark: #888;

// links
$link-text-decoration: none;
$link-color: $primary-color;// blue
$link-color-hover:darken($link-color,5);
$link-transition: .5s;

$small: 80%;

// buttons
$background-color-button-primary:  $primary-color;
$text-color-button:   $white;

//hr
$hr-border-color: $grey;

// variable from foundation 
$include-html-classes: true;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $base-font-size * 1em;
}


// We use these to control text direction settings
$text-direction: ltr !default;
// NOTE: No need to change this conditional statement, $text-direction variable controls it all.
$default-float: left !default;
$opposite-direction: right !default;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}



