<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../../css/style.css">

	<!--[if lt IE 9]>
	<script src="../../js/vendor/html5shiv.js"></script>
	<script src="../../js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<div class="page container soft">

<div class="grid">

<div class="grid__item one-third palm-one-whole">

	<div class="section-container accordion" data-section="accordion">
		<section>
			<p class="title" data-section-title><a href="#panel1">Section.js</a></p>
			<div class="content" data-section-content>
				<ul class="nav  nav--stacked">
					<li><a href="#section.js-auto">Auto</a></li>
					<li><a href="#section.js-tabs">Tabs</a></li>
					<li><a href="#section.js-vertical-tabs">Vertical tabs</a></li>
					<li><a href=#>Contact</a></li>
				</ul>
			</div>
		</section>
		<section>
			<p class="title" data-section-title><a href="#reveal.js" class="title">Reveal.js</a></p>
		</section>

	</div>


</div><!--

	   --><div class="grid__item two-thirds palm-one-whole">
<h1>Section.js <small>Documentation @ <a href="http://foundation.zurb.com/docs/components/section.html">foundation</a></small></h1>
<h2 id="section.js-auto">Auto</h2>
<p>Switch between tabs and accordion based on the resolution of the device</p>

<div class="section-container auto" data-section>
	<section>
		<p class="title" data-section-title><a href="#panel1">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
</div>

<hr>

<h2 id="section.js-tabs">Tabs</h2>

<div class="section-container tabs" data-section="tabs">
	<section>
		<p class="title" data-section-title><a href="#panel1">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
</div>

<hr>

<h2 id="section.js-vertical-tabs">Vertical tabs</h2>

<div class="section-container vertical-tabs" data-section="vertical-tabs">
	<section>
		<p class="title" data-section-title><a href="#">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#">Section 3</a></p>
		<div class="content" data-section-content>
			<p>Content of section 3.</p>
		</div>
	</section>
</div>

<hr>

<h2 id="section.js-accordion">Accordion</h2>
<div class="section-container accordion" data-section="accordion">
	<section>
		<p class="title" data-section-title><a href="#panel1">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
</div>

<hr>

<h2 id="section.js-vertical-nav">Vertical nav</h2>
<div class="section-container vertical-nav" data-section="vertical-nav">
	<section>
		<p class="title" data-section-title><a href="#panel1">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
</div>

<hr>

<h2 id="section.js-horizontal-nav">Horizontal nav</h2>
<div class="section-container horizontal-nav" data-section="horizontal-nav">
	<section>
		<p class="title" data-section-title><a href="#panel1">Section 1</a></p>
		<div class="content" data-section-content>
			<p>Content of section 1.</p>
		</div>
	</section>
	<section>
		<p class="title" data-section-title><a href="#panel2">Section 2</a></p>
		<div class="content" data-section-content>
			<p>Content of section 2.</p>
		</div>
	</section>
</div>

<hr>

<h1 id="reveal.js">Reveal.js <small>Documentation @ <a href="http://foundation.zurb.com/docs/components/reveal.html">foundation</a></small></h1>
<p><a href="#" class="btn btn--primary" data-reveal-id="firstModal">Launch the modal</a></p>


	<h1>ResponsiveSlides.js</h1>

	<h2>Basic</h2>

	<?php include ('../_inc/slide-show/basic.php') ?>


	<h2>With pagination</h2>

	<?php include ('../_inc/slide-show/pagination.php') ?>


	<h2>With captions & navigation</h2>

	<?php include ('../_inc/slide-show/captions.php') ?>



</div>

</div><!-- .grid -->
</div><!-- .page -->

<div id="firstModal" class="reveal-modal">
	<h2>Awesome. I have it.</h2>
	<p class="lead">Your couch.  It is mine.</p>
	<p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
	<a class="close-reveal-modal">&#215;</a>
</div>

<script src="../../js/vendor/jquery-1.9.1.min.js"></script>
<script src="../../js/plugins/foundation/foundation.js"></script>
<script src="../../js/plugins/foundation/foundation.section.js"></script>
<script src="../../js/plugins/foundation/foundation.reveal.js"></script>
<script src="../../js/main.js"></script>
<script>
	$(document).foundation();
</script>

</body>
</html>