<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../../css/style.css">

	<!--[if lt IE 9]>
	<script src="../../js/vendor/html5shiv.js"></script>
	<script src="../../js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<div class="page  container soft">

	<h1>Regular grids</h1>

	<div class=grid>

		<div class="grid__item  one-whole palm-one-whole">
			<p class=demo-block>one-whole </p>
		</div><!--

 --><div class="grid__item  one-half palm-one-whole">
		<p class=demo-block>one-half palm-one-whole</p>
	</div><!--

 --><div class="grid__item  one-half palm-one-whole">
		<p class=demo-block>one-half palm-one-whole</p>
	</div><!--



 --><div class="grid__item  one-third palm-one-whole">
		<p class=demo-block>one-third </p>
	</div><!--

 --><div class="grid__item  two-thirds palm-one-whole">
		<p class=demo-block>two-thirds </p>
	</div><!--

	 --><div class="grid__item  one-quarter palm-one-whole">
		<p class=demo-block>one-quarter </p>
	</div><!--

	 --><div class="grid__item  three-quarters palm-one-whole">
		<p class=demo-block>three-quarters</p>
	</div><!--

 --><div class="grid__item  one-fifth palm-one-whole">
		<p class=demo-block>one-fifth</p>
	</div><!--

	 --><div class="grid__item  four-fifths palm-one-whole">
		<p class=demo-block>four-fifths </p>
	</div><!--





		 --><div class="grid__item  one-sixth palm-one-whole">
		<p class=demo-block>one-sixth </p>
	</div><!--

		 --><div class="grid__item  five-sixths palm-one-whole">
		<p class=demo-block>five-sixths </p>
	</div><!--





		 --><div class="grid__item  one-eighth palm-one-whole">
		<p class=demo-block>one-eighth</p>
	</div><!--

			 --><div class="grid__item  seven-eighths palm-one-whole">
		<p class=demo-block>seven-eighths</p>
	</div><!--







			 --><div class="grid__item  one-tenth palm-one-whole">
		<p class=demo-block>1/10</p>
	</div><!--

			 --><div class="grid__item  nine-tenths palm-one-whole">
		<p class=demo-block>nine-tenths</p>
	</div><!--

				 --><div class="grid__item  one-twelfth palm-one-whole">
		<p class=demo-block>1/12</p>
	</div><!--

			 --><div class="grid__item  eleven-twelfths palm-one-whole">
		<p class=demo-block>eleven-twelfths</p>
	</div><!--


 --><div class="grid__item  one-half palm-one-whole">
		<p class=demo-block>one-half palm-one-whole</p>
	</div><!--

 --><div class="grid__item  one-half palm-one-whole">

		<div class=grid>

		 <div class="grid__item  one-half palm-one-half">
				<p class=demo-block>one-half palm-one-half</p>
			</div><!--

         --><div class="grid__item  one-half palm-one-half">
			<p class=demo-block>one-half palm-one-half</p>
		</div>

		</div>

	</div>

	</div>

</div><!-- .page -->


<script src="../../js/vendor/jquery-1.9.1.min.js"></script>
<script src="../../js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>-->
</body>
</html>
