<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../../css/style.css">

	<!--[if lt IE 9]>
	<script src="../../js/vendor/html5shiv.js"></script>
	<script src="../../js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>

		<div class="page container soft">

	  	<div class="grid">

	    	<div class="grid__item one-third palm-one-whole">

					<div class="section-container accordion" data-section="accordion">
					  <section>
					    <p class="title" data-section-title><a href="#panel1">Section.js</a></p>
					    <div class="content" data-section-content>
					      <ul class="nav  nav--stacked">
					          <li><a href="#section.js-auto">Auto</a></li>
					          <li><a href="#section.js-tabs">Tabs</a></li>
					          <li><a href="#section.js-vertical-tabs">Vertical tabs</a></li>
					          <li><a href=#>Contact</a></li>
					      </ul>
					    </div>
					  </section>
					  <section>
					    <p class="title" data-section-title><a href="#reveal.js" class="title">Reveal.js</a></p>
					  </section>
					</div>


	      </div><!--

	   --><div class="grid__item two-thirds palm-one-whole">


	   				<h1>Icons font</h1>
	   				<span aria-hidden="true" class="icon-facebook"></span>
	   				<span aria-hidden="true" class="icon-twitter"></span>
	   				<span aria-hidden="true" class="icon-mail"></span>
	   				<span aria-hidden="true" class="icon-search"></span>

	   				<hr>

	   				<h1>Navigation</h1>
	   				<h2>Menu</h2>
	   				<h3>Regular <small>class="nav"</small></h3>
	   				<ul class="nav">
	   				    <li><a href=#>Home</a></li>
	   				    <li><a href=#>About</a></li>
	   				    <li><a href=#>Portfolio</a></li>
	   				    <li><a href=#>Contact</a></li>
	   				</ul>
						
						<h3>Pipes <small>class="nav nav--pipe"</small></h3>
	   				<ul class="nav nav--pipe">
	   				    <li><a href=#>Home</a></li><!--
	   				    --><li><a href=#>About</a></li><!--
	   				    --><li><a href=#>Portfolio</a></li><!--
	   				    --><li><a href=#>Contact</a></li>
	   				</ul>

	   				<h3>Stacked <small>class="nav nav--stacked"</small></h3>
	   				<ul class="nav  nav--stacked">
	   				    <li><a href=#>Home</a></li>
	   				    <li><a href=#>About</a></li>
	   				    <li><a href=#>Portfolio</a></li>
	   				    <li><a href=#>Contact</a></li>
	   				</ul>
							
						<h3>Banner <small>class="nav nav--banner"</small></h3>
	   				<ul class="nav  nav--banner">
	   				    <li><a href=#>Home</a></li>
	   				    <li><a href=#>About</a></li>
	   				    <li><a href=#>Portfolio</a></li>
	   				    <li><a href=#>Contact</a></li>
	   				</ul>
						
						<h3>Block <small>class="nav nav--block"</small></h3>
	   				<ul class="nav  nav--block">
	   				    <li><a href=#>Home</a></li>
	   				    <li><a href=#>About</a></li>
	   				    <li><a href=#>Portfolio</a></li>
	   				    <li><a href=#>Contact</a></li>
	   				</ul>
							
						<h3>Fit <small>class="nav nav--fit"</small></h3>
	   				<ul class="nav  nav--fit">
	   				    <li><a href=#>Home</a></li>
	   				    <li><a href=#>About</a></li>
	   				    <li><a href=#>Portfolio</a></li>
	   				    <li><a href=#>Contact</a></li>
	   				</ul>
						
						<h3>Keywords <small>class="nav nav--keywords"</small></h3>
	   				<ul class="nav  nav--keywords">
	   					<li>Keyword</li>
	   					<li>Keyword 2</li>
	   					<li>Keyword 3</li>
	   					<li>Keyword 4</li>
	   					<li>Keyword 5</li>
	   					<li>Keyword 6</li>
	   				</ul>
						
	   				<h2>Pagination</h2>
	   				<ol class="nav  pagination">
	   				    <li class=pagination__first>First</li>
	   				    <li class=pagination__prev>Previous</li>
	   				    <li><a href=/page/1>1</a></li>
	   				    <li><a href=/page/2>2</a></li>
	   				    <li class=current><a href=/page/3>3</a></li>
	   				    <li><a href=/page/4>4</a></li>
	   				    <li><a href=/page/5>5</a></li>
	   				    <li class=pagination__next><a href=/page/next>Next</a></li>
	   				    <li class=pagination__last><a href=/page/last>Last</a></li>
	   				</ol>

	   				<hr>
						
						<h2>Breadcrumb</h2>
						<ol class="nav  breadcrumb">
						    <li><a href=#>Home</a></li>
						    <li><a href=#>About</a></li>
						    <li><a href=#>The Board</a></li>
						    <li class=current>Directors</li>
						</ol>

						<hr>

						<h2>Options</h2>
						<ul class="nav  options ">
						    <li><a href="#">item 1</a></li>
						    <li><a href="#">item 2</a></li>
						    <li><a href="#">item 3</a></li>
						    <li><a href="#">item 4</a></li>
						 </ul>
						 <h2>Options <small>nav--fit</small></h2>
						 <ul class="nav  options nav--fit">
						     <li><a href="#">item 1</a></li>
						     <li><a href="#">item 2</a></li>
						     <li><a href="#">item 3</a></li>
						     <li><a href="#">item 4</a></li>
						  </ul>
						<hr>
	   				<h1>Split</h1>
	   				<dl class=split>
	   				    <dt class=split__title>Burger and fries</dt>
	   				    <dd>&pound;5.99</dd>
	   				    <dt class=split__title>Fillet steak</dt>
	   				    <dd>&pound;19.99</dd>
	   				    <dt class=split__title>Ice cream</dt>
	   				    <dd>&pound;2.99</dd>
	   				</dl>
	   				<ol class="split  results">
	   				    <li class=first><b class=split__title>1st place</b> Bob</li>
	   				    <li class=second><b class=split__title>2nd place</b> Lilly</li>
	   				    <li class=third><b class=split__title>3rd place</b> Ted</li>
	   				</ol>​

	   				<hr>

	   				<h1>Stat</h1>
	   				<div class=stat-group>
	   				    <dl class=stat>
	   				        <dt class=stat__title>Tweets</dt>
	   				        <dd class=stat__value>27,740</dd>
	   				    </dl>

	   				    <dl class=stat>
	   				        <dt class=stat__title>Following</dt>
	   				        <dd class=stat__value>11,529</dd>
	   				    </dl>

	   				    <dl class=stat>
	   				        <dt class=stat__title>Followers</dt>
	   				        <dd class=stat__value>12,105</dd>
	   				    </dl>
	   				</div>

	   				<h1>Block list</h1>
	   				<ul class=block-list>
	   				   <li>Foo</li>
	   				   <li>Bar</li>
	   				   <li>Baz</li>
	   				   <li><a href=# class=block-list__link>Foo Bar Baz</a></li>
	   				</ul>

	   				

	   				<h1>Media element</h1>
	   				<div class="media">
	   				    <img src=../../img/illu/media-example.jpg alt="technics " class="media__img">
	   				    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	   				    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	   				</div>

	   				<hr>

	   				<h1>Columns</h1>
	   				<p class="text-cols--2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, nihil, modi, 
	   					nisi maxime sint officia ad libero veniam voluptatibus eligendi illo cupiditate cumque deserunt autem officiis! 
	   					Minus ullam animi sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, mollitia, 
	   					officia, nihil, eum at ipsa dicta corporis fugiat 
	   					deserunt expedita sint necessitatibus assumenda. Quis voluptatibus quod iste odit dignissimos culpa.
	   				</p>

	   				<hr>

	   				<h1>Matrix</h1>
	   				<ul class="matrix  three-cols">
	   				    <li class=all-cols>Lorem</li>
	   				    <li>Ipsum <a href=#>dolor</a></li>
	   				    <li><a href=# class=matrix__link>Sit</a></li>
	   				    <li>Amet</li>
	   				    <li class=all-cols>Consectetuer</li>
	   				</ul>

	   				<hr>

	   				<h1>This or this</h1>
	   				<h1 class=this-or-this>
	   				    <a href=# class="this-or-this__this  two-fifths">
	   				        Free
	   				    </a>
	   				    <span class="this-or-this__or  one-fifth">
	   				        or
	   				    </span>
	   				    <a href=# class="this-or-this__this  two-fifths">
	   				        Pro
	   				    </a>
	   				</h1>


	   				 <hr>

	   				 <h1>Flexbox</h1>
	   				 <header class=flexbox>

	   				     <div class=flexbox__item>
	   				         <b>Welcome to</b>
	   				     </div>

	   				     <div class=flexbox__item>
	   				         <img src=../../img/illu/media-example.jpg alt="technics " class="media__img">
	   				     </div>

	   				</header>
						
						<hr>
	   				<h1>Grey box</h1>
	   				<div class="island  greybox  greybox--medium">island  greybox  greybox--medium</div>
						
						<hr>

						<h1>Some island</h1>
	   				<div class="island highlight">
	   				    island highlight
	   				</div>
	   				<div class="islet highlight">
	   				    islet highlight
	   				</div>
	   				<div class="island highlight-alt">
	   				    island highlight-alt
	   				</div>
	   				<div class="island regular">
	   				    island regular
	   				</div>
				
	   		</div>

	   	</div><!-- .grid -->
	  </div><!-- .page -->
		
		<div id="firstModal" class="reveal-modal">
		  <h2>Awesome. I have it.</h2>
		  <p class="lead">Your couch.  It is mine.</p>
		  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
		  <a class="close-reveal-modal">&#215;</a>
		</div>
	  
	  <script src="../../js/vendor/jquery-1.9.1.min.js"></script>
	  <script src="../../js/plugins/foundation/foundation.js"></script>
	  <script src="../../js/plugins/foundation/foundation.section.js"></script>
	  <script src="../../js/plugins/foundation/foundation.reveal.js"></script>
	  <script src="../../js/main.js"></script>
	  <script>
	    $(document).foundation();
	  </script>

	</body>
</html>